h3{
    margin: 0;
}

.post{
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 15px;
    margin: 1rem 0rem;
    overflow: auto;
}

.post img{
    float: left;
    max-width: 200;
    max-height: 150px;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 0;
}

.post small{
    float: right;
    position: relative;
    bottom: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

footer{
    text-align: center;
}

.social{
    color: #fc9403;
    transition: 0.7s;
}

.social:hover{
    color: rgb(199, 132, 7);
    transition: 0.7s;
}

.socials{
    display: inline-block;
}