@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

*{
  padding: 0;
  margin: 0;
}

h1{
  letter-spacing: 5px;
  font-weight: 100;
  font-size: 4h;
  text-align: center;
  padding-top: 50px;
}

h2{
  font-family:'Courier New', sans-serif;
  letter-spacing: 2.5px;
  font-weight: 100;
  font-size: 3rem;
  color: #fc9403;
  text-decoration: underline;
}

h3{
  font-family:'Courier New', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
}

body{
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.4;
  background-color:#212529;
  color: #fff;
  height: 100vh;
  width:100vw;
}

main{
  min-height: 100vh;
  height: 100vh !important;
  width: 100vw !important;
  display: inline-block;
}

footer{
  width: 100%;
  height:20%;
  clear: both;
}

.links p{
  text-align: center;
  padding-top: 15px;
}

a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
  font-family:'Courier New', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  font-size: 1.5rem;
}

li {
  list-style-type: disk;
}

.toggle_button{
  height: 25px;
  width: 36px;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
}

.toggle_button:focus{
  outline: none
}

.toggle_button_line{
  width: 30px;
  height: 2px;
  background:#212529;
}

.links a{
  text-decoration: underline;
}

.links li{
  padding: 0, 0.5rem;
  display: inline;
  margin: 10px;
}

.links ul{
  text-align: center;
}

.links{
  background-color: #191919;
  padding: 20px;
}

.social{
  background-color: #333;
  padding: 20px 5px;
}

.social ul{
  text-align: center;
}

.social li{
  padding: 0, 0.5rem;
  display: inline;
  margin: 5px;
}

.jumbotron-container{
  background-image: url(./Media/Jumbotron/Background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.avatar{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
}

.information-collection{
  padding: 15vh 0;
  font-size: 2.5vh;
}

.dark-panel{
  margin: 60px;
  width: 80%;
  
}

.light-panel{
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 20px;
  clear: both;
}

.dark-panel p {
  font-weight: 200;
}

.bulletList ul{
  margin-left:20px;
  list-style: square;
}

.bulletList ul ul{
  margin-left:40px;
  list-style: disc; 
}

.light-panel-container{
  padding:60px;
}

.light-panel th, .light-panel tr:nth-child(even) {
  background-color: #f2f2f2
}

.dark-panel button{
  padding: 10px; 
  border: solid 1px #fff;
  border-radius:12px; 
  text-align:center; 
  margin-left:auto;
  margin-right:auto;
}

.card {
  color: #000000;
  margin: 50px;
  float: left;
  
}

@media(max-width:768px){
  .toolbar_navigation_items
  { 
    display: none;
  }
  footer .links{
    display: none;
  }

  .information-collection h1{
    display:none;
  } 
}

@media(min-width:769px){
  .toolbar_toggle_button{
    display: none;
  }

  .toolbar_logo{
    margin-left: 0rem;
  }
}

::-webkit-scrollbar { 
  display: none; 
} 